h1 {
  font-weight: 450;
  font-size: 40px;
  margin-bottom: 22px;
  margin-top: 22px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #70757a;
  line-height: 20px;
  text-transform: capitalize;
}

.town {
  margin-top: 30px;
  margin-bottom: 0px;
}

.date {
  font-size: 20px;
  margin-bottom: 20px;
}

.currentTemperature {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 22px;
  margin-top: 22px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -28px;
}

.active{
    color: black;
    cursor: default;

}

.active:hover{
    text-decoration :none;
}


.description {
  font-size: 18px;
  margin-bottom: 15px;
}
img {
  max-width: 100%;
}

.container {
  padding: 0;
  text-align: left;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: "Nunito", "Roboto", sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

li {
  list-style: none;
  font-size: 15px;
}
ul {
  padding: 20px;
  color: #70757a;
}

img {
  display: block;
}

.